@page "/"
@attribute [Microsoft.AspNetCore.Authorization.Authorize]
@using Microsoft.Graph
@inject GraphServiceClient graphClient

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
@if (ready)
{
    <p>You are @MemberName !!!</p>
}


@code {
    public bool ready { get; set; } = false;
    public string MemberName { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //await Profile();
    }

    // [AuthorizeForScopes(ScopeKeySection = "DownstreamApi:Scopes")]
    // public async Task Profile()
    // {
    //     var me = await graphClient.Me.GetAsync();

    //     MemberName = me.DisplayName;
    //     ready = true;
    // }
}

}
